.descMainDiv {
  width: 100%;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  /* background-image: url(/public/); */
}

.bannerImg {
  filter: brightness(50%);
  width: 100%;
  height: 250rem;
  z-index: -9;
}

.emptyVis {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.descContDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 1015px;
  padding-top: 70px;
  padding-bottom: 80px;
  background-color: rgb(255, 255, 255, 0.75);
  color: black;
  margin-top: -767px;
  padding-bottom: 40px;
}

.topImg {
  filter: brightness(70%);
  width: 100%;
  margin-top: -10px;
  margin-bottom: 20px;
}

.displayImg {
  opacity: 60%;
  z-index: 99;
  width: 70%;
}

.descHead {
  color: black;
}

.longDesc {
  width: 80%;
  margin-bottom: 10px;
}

.backBtnDesc {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: none;
  margin-right: 30rem;
  /* margin-top: 10px; */
  background-color: #ffffffab;
  transition: all ease-in-out 0.6s;
}

.backBtnDesc:hover {
  cursor: pointer;
  background-color: #82bec5;
  transform: scale(1.11);
}

.descSlideDiv {
  width: 50%;
  /* border: 1px solid white; */
  border-radius: 30px;
}

.slider {
  /* border: 1px solid white; */
  border-radius: 30px;
}
