@import url("https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap");

body {
  font-family: "Markazi Text", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --lightBlue: #b5dada;
  --darker: #82bec5;
  --BlueLagoon: #057d8b;
  --darkest: #033f46;
}

.navWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  /* background-color: white; */
  /* border: 1px solid black; */
  width: 100%;
  height: 80px;
  position: fixed;
  padding: 10px;
  top: 0;
  z-index: 3;
  transition: all ease-in-out 0.6s;
}

.navWrapperColor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.808);
  /* border: 1px solid black; */
  width: 100%;
  height: 80px;
  position: fixed;
  padding: 10px;
  top: 0;
  z-index: 3;
  transition: all ease-in-out 0.6s;
}

/* .navbar {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 110px;
  position: fixed;
  padding: 10px;
  top: 0;
  z-index: 1;
} */
/* 
.navbarActive {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
  height: 110px;
  position: fixed;
  padding: 10px;
  top: 0;
  z-index: 1;
} */

.signBtnDiv {
  display: flex;
  align-items: flex-start;
  width: 30%;
}

.signBtn {
  width: 90px;
  height: 30px;
  border-radius: 40px;
  border: none;
  margin-top: 15px;
  margin-left: 10px;
  background-color: #ffffff;
  transition: all ease-in-out 0.6s;
}

.signBtnSrl {
  width: 90px;
  height: 30px;
  border-radius: 40px;
  border: none;
  margin-top: 15px;
  margin-left: 10px;
  background-color: #057d8b;
  transition: all ease-in-out 0.6s;
}

.logoDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.logo {
  width: 30%;
  margin-top: -10px;
  margin-left: 5px;
}

.side {
  display: flex;
  justify-content: flex-end;
  width: 30%;
  margin-top: 30px;
  margin-right: 30px;
}

.userIcon {
  width: 30px;
  height: 30px;
  margin-top: -15px;
  transition: all ease-in-out 0.4s;
}

.logo:hover {
  cursor: pointer;
}

.signBtn:hover {
  cursor: pointer;
  background-color: #82bec5;
  transform: scale(1.11);
}

.signBtnSrl:hover {
  cursor: pointer;
  background-color: #033f46;
  transform: scale(1.11);
}

.userIcon:hover {
  cursor: pointer;
  transform: scale(1.11);
}

.sideBarDiv {
  display: flex;
  /* flex-direction: column; */
  /* align-items: flex-start; */
  justify-content: flex-end;
  border-radius: 15px;
  width: 250px;
  height: 300px;
  /* margin: -40px;
  margin-top: -78px; */
  z-index: 3;
  background-color: #b5dada;
}

ul {
  margin: 10px;
  list-style-type: none;
  text-align: right;
  font-size: 20px;
}

li {
  margin: 10px;
  transition: all 0.3s ease 0s;
  margin-right: -8px;
  width: 248px;
}

li:hover {
  cursor: pointer;
  color: white;
  font-size: 110%;
  background-color: #033f46;
}

.backIcon {
  width: 20px;
}
